.content{
    color: #DDEFDB;
    height: 100%;
    margin-top: 18vh;
    margin-left: 11vw;
}

.line{
    display: flex;
}
.hello{
    font-size: 4.5vw;
}

.text2{
    font-size: 4vw;
    margin-top: 1vw;
}

.name{
    font-size:6vw;
    margin-left: 2vw;
    color: #D396BE;
}

.para{
    font-size: 2.2vw;
    width: 40vw;
}

.button{
  background-color: #D396BE; /* Green */
  border: none;
  border-radius: 2vw;
  color: #0D5325;
  padding: 0 5vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 4vw;
  font-weight: bold;
  margin-left: 10vw;
  margin-bottom: 10vh;
}

.mid {
    display: flex;
  }

.rect{
    background-color: #E1AD01;
    width: 26vw;
    height: 30vw;
    margin-left: 21vw;
}

.photo{
    height: 30vw;
    width: 26vw;
}


/*For making mobile responsive:*/
@media screen and (max-width: 767px) {
    
}