<p class="lead">
    About     
</p>
<p>
    As an energetic and passionate MCA student,
    I have learned multiple programming languages 
    and problem-solving skills, which I have applied 
    in various projects to earn different certifications. 
    Being a self-taught programmer, I have the ability to 
    learn new things and keep myself updated with the latest 
    trends in the industry. I possess valuable soft skills 
    like discipline and time management, which help me excel 
    in my projects. I am dedicated and committed to becoming 
    a dependable and valuable team member.
</p>

<img />